*{
    margin: 0px;
    position: relative;
}

.navbar{
    height: 60.3rem;
    width: 17rem; 
    background-color: rgb(128, 61, 59);
    position: absolute;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;         
}

.border{
    transition-timing-function: ease-in-out;
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.home{
    background-color:rgb(128, 61, 59) ;
    color: wheat;
    text-decoration: none;
}

.nav-logo{
    /* background-color: rgb(128, 61, 59); */
    height: 200px;
    width: 126px;
    margin-right: 2rem;
}

.logo{
    /* background-color: rgb(128, 61, 59); */
    height: 170px;
    width: 110%;
    border-radius: 50%;
    
    background-image: url("images\coffeebeans.jpg");    
}

.hero-section{
    height: 545px;
    margin-left: 272px;
    background-image: url("coffee_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
        position: absolute;
        left: 48.7%;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        height: 78%;
        width: 40%;
        padding: 60px;
}

.size{
    padding-left: 60px;
    font-size:39px;
    height:100px;
    width: 210px;
}

.daily{
    padding-top: 60%;
    font-size:29px;
    font-family: monospace;
    width: 100%;
}

.explore{
    height: 25rem;
    width: 67rem;
    margin-left: 270px;

}

.footnav{
    height: 6rem;
    width: 84rem; 
    background-color: rgb(130, 75, 73);
        
}

#name{
    font-size: 20px;
    color: rgb(192, 203, 222);
    padding-left: 70px;
    padding-top: 20px;
    font-style: italic;
}

#name2{
    font-size: 18px;
    color: rgb(192, 203, 222);
    padding-left: 70px;
    font-style: italic;
    /* padding-top: 5px; */
}

.explore{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5rem;
}

.moreabtcoffee{
    font-size: 20px;
    
}

.explorebtn{
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(68, 28, 27);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #8f5656;

}

.explorebtn:hover {background-color: rgb(92, 29, 50);}

.explorebtn:active {
  background-color:rgb(68, 28, 27);
  box-shadow: 0 5px #575353;
  transform: translateY(4px);
}